body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#result-display {
    margin-top: 20px;
    font-size: 18px;
    /*font-weight: bold*/
}
